@import "tile";

@import "compass/utilities/sprites";
@import "../../assets/images/tileset2/*.png";
$tiles-map: sprite-map("../../assets/images/tileset2/*.png");

.tile{
  /*Load the sprite images*/
  @each $tilename in sprite_names($tiles-map){
    &.tileset2-#{$tilename}{
      @include tileset2-sprite($tilename);
    }
  }

  height: 480px;
  width: 349px;
  position: absolute;
  @include tile-transform(0.20, 0.20);
}

//Match container display
.match-tile-container{
  .tile{
    top:16px;
    left:25px;
    position:absolute;
    @include tile-transform(0.125, 0.125);
    -moz-transform-origin: top left;
    -o-transform-origin: top left;
    -webkit-transform-origin: top left;
  }
}

