$color_white:#ffffff !default;
$color-background:#ffffff !default;
$color_background_board:#ffffff !default;
$color-success:lighten(rgb(12, 97, 33), 5) !default;
$color_primary: #0D3066 !default;
$color_secondary:rgb(104, 145, 162) !default;
$color_text: black !default;
