.container-white{
  background: $color_white;
  margin:0 50px;
  padding:0 30px;
}

.navbar{
  border-radius: 0 !important;
}

.nav-tabs>li{
  cursor: pointer !important;
  >a{
    color:black;
  }
  &.active{
    >a{
      font-weight: bold;
    }
  }
}

.btn-success{
  background: $color_green !important;
  border-radius: 0 !important;

  &:hover{
    background: lighten($color_green, 5) !important;
  }
}

.btn-default{
  background: $color_teal !important;
  border-radius: 0 !important;
  color:$color_white !important;

  &:hover{
    background: lighten($color_teal, 5) !important;
  }
}

.btn-primary{
  background: $color_blue !important;
  border-radius: 0 !important;
  color:$color_white !important;

  &:hover{
    background: lighten($color_blue, 5) !important;
  }
}

.filter-container{
  border-top:1px solid #DDDDDD;
  border-bottom: 1px solid black;
  padding:5px;
  margin-bottom: 0;

  .form-group{
    margin-bottom: 0 !important;
  }
}

.match-button{
  margin-top:20px;
}

.game-found-player{
  font-size: 12px;
}

.pointer{
  cursor: pointer!important;
}
