body{
  color: $color_text;
}

.container-white{
  background: $color-background;
  margin:0 50px;
  padding:0 30px;
}

.navbar{
  border-radius: 0 !important;
}

.nav-tabs>li{
  cursor: pointer !important;
  >a{
    color:black;
  }
  &.active{
    >a{
      font-weight: bold;
    }
  }
}

@mixin btn-style() {
  border-radius: 0 !important;
  color:$color_white !important;
}

.btn-success{
  @include btn-style();

  &:hover{
    background: lighten($color-success, 5) !important;
  }
}

.btn-default{
  @include btn-style();

  background: $color-secondary !important;

  &:hover{
    background: lighten($color_secondary, 5) !important;
  }
}

.btn-primary{
  @include btn-style();

  background: $color_primary !important;

  &:hover{
    background: lighten($color_primary, 5) !important;
  }
}

.btn-warning, .btn-danger{
  @include btn-style();
}

.filter-container{
  border-top:1px solid #DDDDDD;
  border-bottom: 1px solid black;
  padding:5px;
  margin-bottom: 0;

  .form-group{
    margin-bottom: 0 !important;
  }
}

.match-button{
  margin-top:20px;
}

.game-found-player{
  font-size: 12px;
}

.pointer{
  cursor: pointer!important;
}

.modal-dialog{
  color:black;
}


