<div ng-init="glc.init()">
    <h2>Gamelist</h2>
    <table class="table">
        <tr>
            <th>Owner</th>
            <th>Created on</th>
            <th>Min players</th>
            <th>Max players</th>
            <th>Current players</th>
            <th>State</th>
            <th></th>
            <th></th>
        </tr>
        <tr ng-repeat="game in glc.games ">
            <td>{{game.createdBy.name}}</td>
            <td>{{game.createdOn | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{game.minPlayers}}</td>
            <td>{{game.maxPlayers}}</td>
            <td>{{game.players.length}}</td>
            <td>{{game.state}}</td>
            <td><a class="btn btn-default" ui-sref="game({id:game.id, game:game})">Details</a></td>
            <td><a class="btn btn-default" ng-disabled="game.players.length >= game.maxPlayers">Join</a></td>
        </tr>
    </table>
</div>
