<div ng-init="glc.init()">
    <div class="container-white">
        <div class="row">
            <div class="col-sm-12">
                <h1>Gamelist</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div ng-show="glc.errorMessage" class="alert alert-danger">
                    <span>{{glc.errorMessage}}</span>
                </div>

                <div ng-show="glc.successMessage" class="alert alert-success">
                    <span>{{glc.successMessage}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-sm-offset-10">
                <a class="btn btn-success" ng-click="glc.createGame()" style="float:right; margin-bottom: 10px;"><span class="fa fa-plus"></span> New game</a>
            </div>
        </div>
        <form ng-submit="glc.getGames()" class="filter-container form-horizontal">
            <div class="row">
                <div class="col-sm-2 col-sm-offset-3">
                    <div class="form-group">
                        <label class="control-label col-sm-4">Owner:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="glc.params.createdBy"/>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label col-sm-4">Player:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="glc.params.player"/>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label col-sm-4">Template:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="glc.params.gameTemplate"/>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label col-sm-4">Owner:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="glc.params.state"/>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1">
                    <button class="btn btn-primary" type="submit" style="float:right">Filter</button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <tr>
                        <th>Owner</th>
                        <th>Created on</th>
                        <th>Min players</th>
                        <th>Max players</th>
                        <th>Current players</th>
                        <th>State</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="game in glc.games ">
                        <td>{{game.createdBy._id}} - {{game.createdBy.name}}</td>
                        <td>{{game.createdOn | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>{{game.minPlayers}}</td>
                        <td>{{game.maxPlayers}}</td>
                        <td>{{game.players.length}}</td>
                        <td>{{game.state}}</td>
                        <td><a class="btn btn-default" ui-sref="game({id:game.id, game:game})">Details</a></td>
                        <td><button class="btn btn-default" ng-click="glc.joinGame(game)" ng-disabled="!glc.canJoinGame(game)">Join</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
