<div class="modal-header">
    <h3 class="modal-title">Create a new game</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label col-sm-4" for="gametemplate">Game template</label>
                    <div class="col-sm-8">
                        <select name="gametemplate" id="gametemplate" class="form-control"
                                ng-options="template.id for template in gameTemplates track by template.id"
                                ng-change="newgame.templateName = selectedTemplate.id"
                                ng-model="selectedTemplate">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Min players</label>
                    <div class="col-sm-8">
                        <input type="number" name="minPlayers" min="1" max="{{newgame.maxPlayers}}" class="form-control" ng-model="newgame.minPlayers" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Max players</label>
                    <div class="col-sm-8">
                        <input type="number" name="maxPlayers" min="{{newgame.minPlayers}}" max="32" class="form-control" ng-model="newgame.maxPlayers" required>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success" type="button" ng-click="ok()" ng-disabled="createDisabled()">Create</button>
</div>