<div ng-init="gc.init()">
    <div class="container-white">
        <div class="row">
            <div class="col-sm-12">
                <div ng-show="gc.errorMessage" class="alert alert-danger">
                    <span>{{gc.errorMessage}}</span>
                </div>

                <div ng-show="gc.successMessage" class="alert alert-success">
                    <span>{{gc.successMessage}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h1>{{gc.game.createdBy.name}}'s Game</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs">
                    <li ui-sref=".details" ui-sref-active="active"><a>Details</a></li>
                    <li ui-sref=".players" ui-sref-active="active"><a>Players</a></li>
                    <li ui-sref=".board" ui-sref-active="active"><a>Gameboard</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>
