<!--<div ng-init="gc.init()">-->
    <!--{{gc.game}}-->
    <!--<h2>{{gc.game.createdBy.name}}'s Game</h2>-->
    <!--&lt;!&ndash;<table class="table">&ndash;&gt;-->
        <!--&lt;!&ndash;<tr>&ndash;&gt;-->
            <!--&lt;!&ndash;<th>Owner</th>&ndash;&gt;-->
            <!--&lt;!&ndash;<th>Created on</th>&ndash;&gt;-->
            <!--&lt;!&ndash;<th>Min players</th>&ndash;&gt;-->
            <!--&lt;!&ndash;<th>Max players</th>&ndash;&gt;-->
            <!--&lt;!&ndash;<th>Current players</th>&ndash;&gt;-->
            <!--&lt;!&ndash;<th>State</th>&ndash;&gt;-->
            <!--&lt;!&ndash;<th></th>&ndash;&gt;-->
            <!--&lt;!&ndash;<th></th>&ndash;&gt;-->
        <!--&lt;!&ndash;</tr>&ndash;&gt;-->
        <!--&lt;!&ndash;<tr ng-repeat="game in g.games ">&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{game.createdBy.name}}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{game.createdOn | date:'yyyy-MM-dd HH:mm:ss'}}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{game.minPlayers}}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{game.maxPlayers}}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{game.players.length}}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{game.state}}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td><a class="btn btn-default" title="Game details">Details</a></td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td><a class="btn btn-default" title="Game details" ng-disabled="game.players.length >= game.maxPlayers">Join</a></td>&ndash;&gt;-->
        <!--&lt;!&ndash;</tr>&ndash;&gt;-->
    <!--&lt;!&ndash;</table>&ndash;&gt;-->
<!--</div>-->
<h2>BOARD</h2>

<div class="tile-container">
    <div ng-repeat="tileData in gc.gameTiles">
        <tile tile="tileData"></tile>
    </div>
</div>


<!--{{gc.gameTiles}}-->