<div class="container-white">
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li ui-sref=".all" ui-sref-active="active" ui-sref-opts="{reload: true}"><a>All</a></li>
                <li ui-sref=".mygames" ui-sref-active="active" ui-sref-opts="{reload: true}"><a>My games</a></li>
                <li ui-sref=".open" ui-sref-active="active" ui-sref-opts="{reload: true}"><a>Open</a></li>
                <li ui-sref=".spectate" ui-sref-active="active" ui-sref-opts="{reload: true}"><a>Spectate</a></li>
                <li ui-sref=".history" ui-sref-active="active" ui-sref-opts="{reload: true}"><a>History</a></li>
            </ul>
        </div>
    </div>
    <ui-view></ui-view>
</div>

