<div id="page-center">
    <div class="container">
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin">
                <div class="btn-container">
                    <a href="http://mahjongmayhem.herokuapp.com/auth/avans?callbackUrl=http://localhost:3001//authcallback" class="btn btn-lg btn-default btn-block btn-signin">Sign in with your Avans account</a>
                </div>
            </form>
        </div>
    </div>
</div>
